<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<p>
  <%= link_to 'Create a New Activity', new_activity_path, class: "btn btn-primary" %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Activity</th>
      <th>Cost</th>
      <th>Duration (in hours)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.id %></td>
        <td><%= activity.name %></td>
        <td><%= number_to_currency activity.cost %></td>
        <td><%= activity.duration %> hours</td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row mtop-40">
  <% @adventureimages.each do |descr, img| %>
    <div class="col-md-12">
      <%= image_tag img, alt: descr, class: "img-responsive center-pics" %>
    </div>
  <% end %>
</div>

